:root {
    --color-fondo: #EADCBB;
    --color-titulo: #a11515;
    --color-rojo-producto: #A92C2C;
    --color-texto-claro: #fff;
    --color-texto-oscuro: #333;
}

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto-oscuro);
}

.contenedor-principal {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.logo-marca {
    max-width: 30rem;
    height: auto;
}

.titulo-catalogo {
    background-image: linear-gradient(to bottom, #82D272, #407244);
    color: var(--color-texto-claro);
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.titulo-catalogo h1 {
    margin: 0;
}


.navegacion-categorias {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 40px;
}

.boton-categoria {
    font-family: 'Alfa Slab One';
    flex: 1;
    background-image: radial-gradient( #850c0c,var(--color-titulo));
    color: var(--color-texto-claro);
    padding: 12px 20px;
    border-radius: 10px;
    border:none;
    font-size: 1.1rem;
    cursor: pointer;

}

.grid-productos {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.tarjeta-producto {
    border: 2px solid #A92C2C;
    background-color: #A92C2C;
    border-radius: 15px;
    overflow: visible;
    position: relative;
    padding-bottom: 10px;
}

.contenedor-imagen-producto {
    height: 15rem;
}

.contenedor-imagen-producto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.etiqueta-precio {
    font-family: 'Alfa Slab One';
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--color-rojo-producto);
    color: var(--color-texto-claro);
    padding: 5px 10px;
    border-radius: 4px;
}

.info-producto {
    text-align: center;
    padding-bottom: 5px;
}

.nombre-producto {
    font-family: 'Alfa Slab One';
    background-color: var(--color-rojo-producto);
    color: var(--color-texto-claro);
    padding: 10px 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}


.boton-agregar {
    border: 2px solid #A92C2C;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    width: 90%;
    background-color: var(--color-gris-claro);
    color: var(--color-rojo-producto);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

}