@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

:root {
    --card: #ffffff;
    --radius: 14px;
    --shadow: 0 4px 12px rgba(16, 24, 40, 0.05);
    --gap: 20px;
    --color-verde-principal: #195D0F;
    --color-verde-final: #4d9a4d;
    --color-verde-degradado-inicio: #7fc17f;
    --color-contenedor-inicio: #388e3c;
    --color-verde-claro: #e0ffe0;
    --color-rojo-principal: #dc2626;
}

body {
    background: #EADCBB;
    margin: 0;
    padding: 0;
    color: #333;
}

.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    place-items: center;
    font-weight: 700;
    font-size: 20px;
    margin-right: auto;
}

.img {
    width: 40rem;
    height: 100%;
    border-radius: var(--radius);
    object-fit: cover;
}
/*Tarjetas */

h2 {
    margin: 1rem 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1rem;
    gap: 0.75rem;
}

input,
textarea,
select {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: .4rem;
    font-size: 1rem;
}

.card {
    background: white;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    padding: 0;
    margin-bottom: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card.form {
    padding: 3rem;
}

.card-footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3.5rem;
}

.ghost {
    background: var(--color-rojo-principal);
    color: white;
    border: 1px solid #ccc;
    border-radius: .4rem;
    padding: .6rem 4rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.btn {
    background: var(--color-verde-degradado-inicio);
    border: none;
    color: white;
    border-radius: .4rem;
    padding: .6rem 4rem;
    cursor: pointer;
}
